.albums {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-gap: 30px;
	margin-top: 30px;
}

.album {
	background: #efefef;
	padding: 10px;
	
	&__title {
		font-size: 1.5rem;
		display: block;
	}
	
	&__date {
		display: block;
		margin-top: 5px;
		opacity: .6;
		
		&:before {
			content: 'Year: ';
		}
	}
	
	&__tracksCount {
		display: block;
		margin-top: 5px;
		opacity: .6;
		
		&:before {
			content: 'Tracks count: ';
		}
	}
	
	&__artist {
		margin: 10px 0 0 0;
		display: flex;
		align-items: center;
	}
	
	&__button {
		margin-top: 15px;
		color: white;
		padding: 10px;
		
		&--add {
			background: green;
		}
		
		&--remove {
			background: red;
		}
	}
	
	&__id {
		margin-top: 20px;
		font-size: .625rem;
	}
}
